.detailes-view header {
    padding: 10px 15px 0 15px;
}
.detailes-view header a {
    margin: 0px;
    padding: 4px 8px;
}

.stock-comp-name {
    padding: 10px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.6);
}
